@font-face {
    font-family: 'Carefus Normal';
    src: url("fonts/CaferusNormal.otf") format("otf");
}

.checkInput {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5000;
}
.check {
    visibility: hidden;
    position: fixed;
    top: 2rem;
    right: 13%;
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.61);
    z-index: 20000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.bgc {
    position: fixed;
    top: 7rem;
    right: 19%;
    width: 5rem;
    height: 5rem;
    transform: scale(0);
    border-radius: 50%;
    background-color: #422E1A;
    z-index: 1000;
    visibility: hidden;
    transition: all 1s cubic-bezier(.97,-0.17,.01,1.08);

}
.checkInput:checked ~ .bgc {
    visibility: visible;
    transform: scale(100);
}

.check span {
    /* display: block; */
    width: 2.5rem;
    height: 0.2rem;
    background-color: white;
    margin: .3rem 0;
    transition: all .5s;
    /* border: 1px solid black; */
    /* border-radius: 50%; */
    /* box-shadow: 5px 5px 3px 1px rgb(0,0,0); */
}
.check .span-menu {
    position: absolute;
    top: 1rem;
    right: 5rem;
    font-size: 2rem;
    color: white;
    /* text-shadow: 13px 6px 1px rgba(0, 0, 0, 1); */
}

.checkInput:checked ~ .check .span-1  {
    transform: rotate(-405deg) translateY(.5rem);
    position: absolute;
    top: 1.8rem;
    left: 0.9rem;
}
.checkInput:checked ~ .check .span-2  {
  display: none;
}
.checkInput:checked ~ .check .span-3  {
    transform: rotate(405deg) translateY(-.6rem);
    position: absolute;
    top: 2.6rem;
    left: 0.9rem;
}

.nav-style {
    position: fixed;
    top: 0;
    left: 0;
    width: 98%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    z-index: 1500;
    transition: all .7s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  
}

.checkInput:checked ~ .nav-style {
    visibility: visible;
    opacity: 1;
}
.list-style {
    list-style: none;
}

.link-style {
    font-family: "Caferus Normal";
    opacity: 0.8;
    text-decoration: none;
    font-size: 5rem;
    color: #fff;
    margin: 1rem 0;
    background-image: linear-gradient(-120deg, transparent 50%, #fff 50%);
    background-size: 223%;
    background-position: 100%;
    padding: 2rem 2rem 0rem 2rem;
    transition: all .4s ease;
}

.link-style:hover {
    opacity: 1;
    color: #4f0e1a;
    text-decoration: none;
    background-position: 181%;
}

.hidden-bgc {
    visibility: hidden;
    transform: scale(0);
}
.li-style {
    position: relative;
    margin-bottom: 2rem;
}
.ppp {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5000;
    width: 100% !important;
    height: 100% !important;
}

@media (min-width: 992px) and (max-width: 1200px) {
    
    .check {
        visibility: visible;
        top: 7rem;
        right: 10%;
    }
    .bgc {
        position: fixed;
        top: 7rem;
        right: 10%;
    }
    .pos-menu {
        visibility: hidden;
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {

    .check {
        visibility: visible;
        top: 7rem;
        right: 7%;
    }
    .bgc {
        position: fixed;
        top: 7rem;
        right: 7%;
    }
    .pos-menu {
        visibility: hidden;
    }
}

@media (min-width: 576px) and (max-width: 767px) {

    .check {
        visibility: visible;
        top: 7rem;
        right: 7%;
    }
    .bgc {
        position: fixed;
        top: 7rem;
        right: 7%;
    }
    .pos-menu {
        visibility: hidden;
    }
    .span-menu {
        visibility: hidden;
    }
    
}

/* // Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575px) {
    
    .check {
        visibility: visible;
        top: 6rem;
        right: 8%;
    }
    .bgc {
        position: fixed;
        top: 6rem;
        right: 8%;
    }
    .pos-menu {
        visibility: hidden;
    }
    .span-menu {
        visibility: hidden;
    }
}